/* Estilos globais */
/* Estilos globais para toda a página */
body {
  font-family: Arial, sans-serif; /* Define a família da fonte para toda a página */
  margin: 0; /* Remove a margem padrão ao redor do corpo (body) */
  padding: 0; /* Remove o preenchimento padrão ao redor do corpo (body) */
  background-color: #fde3f7; /* Define a cor de fundo para o corpo (body) */
  font-size: 16px; /* Define o tamanho da fonte padrão para o corpo (body) */
}

/* Cabeçalho */
/* Estilos para a seção de cabeçalho */
header {
  background-color: #f8a8e0; /* Define a cor de fundo para o cabeçalho */
  padding: 5px; /* Adiciona preenchimento ao redor do conteúdo do cabeçalho */
  text-align: center; /* Alinha o conteúdo do cabeçalho ao centro */
  color: #1f1e1e; /* Define a cor do texto para o cabeçalho */
  width: 100%; /* Define a largura do cabeçalho para ocupar 100% de seu contêiner */
  z-index: 100; /* Define a ordem de empilhamento para o cabeçalho (usado com elementos posicionados) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao cabeçalho */
}

header h1 {
  font-size: 24px; /* Define o tamanho da fonte para o elemento h1 dentro do cabeçalho */
}

/* Logo */
/* Estilos para a seção de logotipo */
.logo {
  margin-bottom: 20px; /* Adiciona margem na parte inferior do elemento com a classe "logo" */
}

.logo img {
  width: 250px; /* Define a largura da imagem dentro do contêiner do logotipo */
}

/* Títulos */
/* Estilos para os títulos (h1, h2, etc.) */
h1 {
  font-size: 32px; /* Define o tamanho da fonte para todos os elementos h1 */
  margin-bottom: 10px; /* Adiciona margem na parte inferior de todos os elementos h1 */
}

h2 {
  color: #292828; /* Define a cor do texto para todos os elementos h2 */
  margin: 0; /* Remove a margem ao redor de todos os elementos h2 */
}

/* Parágrafos */
/* Estilos para parágrafos (p) */
p {
  font-size: 14px; /* Define o tamanho da fonte para todos os elementos de parágrafo (p) */
  margin-bottom: 20px; /* Adiciona margem na parte inferior de todos os parágrafos */
}

/* Botão */
/* Estilos para botões */
.button:hover {
  background-color: #f3c5d8; /* Define a cor de fundo quando passar o mouse sobre elementos com a classe "button" */
}

/* Produtos */
/* Estilos para a seção de produtos */
#products {
  display: flex; /* Exibe os produtos como um contêiner flexível */
  flex-wrap: wrap; /* Permite que os produtos sejam agrupados em várias linhas */
  justify-content: space-between; /* Distribui os produtos uniformemente com espaço entre eles */
  padding: 50px 65px; /* Adiciona preenchimento ao redor do contêiner de produtos */
}

.product {
  width: calc(33.33% - 40px); /* Define a largura de cada contêiner de produto */
  background-color: #fcf1f9; /* Define a cor de fundo para cada contêiner de produto */
  border-radius: 10px; /* Adiciona bordas arredondadas ao contêiner de produto */
  padding: 20px; /* Adiciona preenchimento ao redor do conteúdo do produto */
  margin: 10px 0; /* Adiciona margem na parte superior e inferior de cada contêiner de produto */
  text-align: center; /* Alinha o conteúdo do produto ao centro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao contêiner de produto */
}

.product img {
  width: 240px; /* Define a largura das imagens de produto */
  height: 240px; /* Define a altura das imagens de produto */
  object-fit: cover; /* Redimensiona as imagens de produto para cobrir todo o contêiner */
  border-radius: 10px; /* Adiciona bordas arredondadas às imagens de produto */
}

.product h3 {
  color: #292828; /* Define a cor do texto para os cabeçalhos de produto */
}

.product p {
  font-size: 14px; /* Define o tamanho da fonte para as descrições de produto */
  color: #666; /* Define a cor do texto para as descrições de produto */
  margin-bottom: 10px; /* Adiciona margem na parte inferior das descrições de produto */
}

.price {
  font-weight: bold; /* Define a espessura da fonte como negrito para elementos com a classe "price" */
  color: #333; /* Define a cor do texto para elementos com a classe "price" */
}

.detail {
  font-size: 12px; /* Define o tamanho da fonte para elementos com a classe "detail" */
  color: #999; /* Define a cor do texto para elementos com a classe "detail" */
  margin-bottom: 10px; /* Adiciona margem na parte inferior dos elementos com a classe "detail" */
}

.buy-button {
  display: inline-block; /* Exibe o botão como um elemento de bloco inline */
  padding: 10px 20px; /* Adiciona preenchimento ao redor do conteúdo do botão */
  background-color: #f8a8e0; /* Define a cor de fundo para o botão */
  color: #292828; /* Define a cor do texto para o botão */
  text-decoration: none; /* Remove o sublinhado do texto do botão */
  border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
}

.buy-button:hover {
  background-color: #db6999; /* Define a cor de fundo quando passar o mouse sobre elementos com a classe "buy-button" */
}

/* Carrossel */
/* Estilos para a seção de carrossel */
.carousel-container {
  overflow: hidden; /* Oculta o conteúdo que ultrapassa o contêiner de carrossel */
}
.carousel-inner {
  position: relative; /* Define o posicionamento dos slides */
  width: 100%; /* Garante que o conteúdo se encaixe no contêiner */
}

.carousel-item {
  display: none; /* Esconde todos os slides */
}

.carousel-item.active {
  display: block; /* Mostra apenas o slide ativo */
}

.carousel-item img {
  width: 100%;
  height: 100%; /* Ocupa todo o espaço disponível no slide */
  object-fit: cover; /* Redimensiona a imagem mantendo a proporção e preenchendo o espaço */
}

/* Media Query para dispositivos com largura menor que 769px (dispositivos móveis) */
@media screen and (max-width: 767px) {

  p {
    font-size: 14px; /* Altera o tamanho da fonte para parágrafos em dispositivos móveis */
    margin-bottom: 20px; /* Altera a margem inferior para parágrafos em dispositivos móveis */
  }

  .product h3 {
    color: #292828; /* Define a cor do texto para cabeçalhos de produto em dispositivos móveis */
    font-size: 18px; /* Altera o tamanho da fonte para cabeçalhos de produto em dispositivos móveis */
  }

  .price {
    font-size: 15px; /* Altera o tamanho da fonte para preços em dispositivos móveis */
    font-weight: bold; /* Define a espessura da fonte como negrito para preços em dispositivos móveis */
    color: #333; /* Define a cor do texto para preços em dispositivos móveis */
  }

  #products {
    padding: 5px 10px; /* Altera o preenchimento ao redor do contêiner de produtos em dispositivos móveis */
  }

  .product {
    width: calc(50% - 10px); /* Define a largura dos contêineres de produto em dispositivos móveis */
    padding: 10px; /* Adiciona preenchimento ao redor do conteúdo dos contêineres de produto em dispositivos móveis */
    margin-bottom: 5px; /* Reduz o valor da margem inferior para diminuir o espaço entre os produtos em dispositivos móveis */
  }

  .product img {
    width: 110px; /* Define a largura das imagens de produto em dispositivos móveis */
    height: 100px; /* Ajusta a altura das imagens para corresponder ao tamanho das imagens do carrossel em dispositivos móveis */
    object-fit: cover; /* Redimensiona as imagens de produto para cobrir todo o contêiner em dispositivos móveis */
  }
  .carousel-container {
    width: 400px; /* Define a largura do contêiner de carrossel em dispositivos móveis */
  }
  .carousel-item img {
    object-fit: cover; /* Redimensiona as imagens para preencher todo o espaço disponível no carrossel em dispositivos móveis */
  }
  header {
    background-color: #f8a8e0; /* Define a cor de fundo para o cabeçalho */
    padding: 5px; /* Adiciona preenchimento ao redor do conteúdo do cabeçalho */
    text-align: center; /* Alinha o conteúdo do cabeçalho ao centro */
    color: #1f1e1e; /* Define a cor do texto para o cabeçalho */
    width: 100%; /* Define a largura do cabeçalho para ocupar 100% de seu contêiner */
    z-index: 100; /* Define a ordem de empilhamento para o cabeçalho (usado com elementos posicionados) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao cabeçalho */
  }
  
  header h1 {
    font-size: 18px; /* Define o tamanho da fonte para o elemento h1 dentro do cabeçalho */
  }
  p {
    font-size: 14px; /* Define o tamanho da fonte para todos os elementos de parágrafo (p) */
    margin-bottom: 20px; /* Adiciona margem na parte inferior de todos os parágrafos */
  }
  
  /* Logo */
  /* Estilos para a seção de logotipo */
  .logo {
    margin-bottom: 20px; /* Adiciona margem na parte inferior do elemento com a classe "logo" */
  }
  
  .logo img {
    width: 150px; /* Define a largura da imagem dentro do contêiner do logotipo */
  }
  

  /* Estilo específico para desktops */
@media (min-width: 768px) {
  .carousel-container {
    height: 500px; /* Define a altura do carrossel em desktops */
  }
}
}
